@keyframes fadeInNavLinkActive {
	from {
		width: 0;
	}
	to {
		width: 120%;
	}
}

@keyframes fadeInElement {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}

@keyframes slideInElement {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
	to {
		opacity: 100;
		transform: translateX(0);
	}
}

.fade-in {
	animation: fadeInElement 500ms forwards ease-in;
}
