.hero {
	background: url("../svg/site/hero.svg") no-repeat;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.form-control-icon-end {
	position: relative;
}

.form-control-icon-end i {
	position: absolute;
	top: 0.65rem;
	right: 1rem;
}

.form-control-icon-start {
	position: relative;
}

.form-control-icon-start i {
	position: absolute;
	top: 0.65rem;
	left: 1rem;
}

.dropdown-group {
	position: relative;
}

.dropdown-menu {
	margin-top: 1rem;
}

.prev-img {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.navbar-toggler {
	box-shadow: none !important;
	border: 0;
}
