.tagify {
	--tags-focus-border-color: var(--secondary);
	--tag-bg: var(--secondary);
	--tag-hover: var(--primary);
	--tag-text-color: white;
	--tag-border-radius: 50rem;
	--tag-pad: 0.2rem 0.5rem;
	--tag-inset-shadow-size: 3.1em;
	--tag-remove-btn-color: white;

	--tag-remove-btn-bg--hover: var(--danger);
	--tag-invalid-color: var(--danger);
	--tag-remove-bg: var(--danger);
	--tag-invalid-bg: var(--danger);

	--placeholder-color: rgba(0, 0, 0, 0.4);
	--placeholder-color-focus: rgba(0, 0, 0, 0.4);
}

.tagify__tag-text {
	color: white;
	font-size: small;
	font-weight: bold;
}

.tagify__tag--editable span {
	color: var(--primary);
	--tag-remove-btn-color: var(--danger);
}

tag-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 0.5rem;
}

.view-tag {
	padding: 0.2rem 1rem;
	background-color: var(--secondary);
	width: max-content;
	border-radius: 2rem;
	font-size: small;
	font-weight: bold;
	color: rgba(21, 60, 107, 60%);
}

.view-tag.info {
	background: white;
	color: var(--primary);
	border: 1px solid var(--primary);
}

.view-tag.success {
	background: rgba(0, 150, 0, 0.3);
	color: rgb(0, 150, 0) !important;
	border: 1px solid rgba(0, 150, 0, 0.5);
}

.view-tag.danger {
	background: rgb(255 99 99 / 30%);
	color: rgb(255 99 99) !important;
	border: 1px solid rgb(150 0 0 / 50%);
}

.view-tag.warning {
	background: rgb(240 255 0 / 30%);
	color: rgb(173 115 27) !important;
	border: 1px solid rgb(114 120 14 / 50%);
}
