@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	color: var(--default-text);
	line-height: 1.5;
}

*,
.nav-link,
.navbar-brand,
a,
b,
i,
li {
	font-size: 15px;
}

small {
	font-size: 13px;
}

.fw-bolder {
	font-weight: 800 !important;
}