@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	color: var(--default-text);
	line-height: 2;
}

*,
.nav-link,
.navbar-brand,
a,
b,
i,
li {
	font-size: 15px;
}

small {
	font-size: 13px;
}

.fw-bolder {
	font-weight: 800 !important;
}

.richText-editor, 
.richText-editor h1, 
.richText-editor h2, 
.richText-editor h3, 
.richText-editor h4 {
	font-family: "Montserrat", sans-serif !important;
}

.richText-editor h1, 
.richText-editor h2, 
.richText-editor h3, 
.richText-editor h4,
#serviceInfoContainer h1, 
#serviceInfoContainer h2, 
#serviceInfoContainer h3, 
#serviceInfoContainer h4 {
	font-weight: 800;
}

.fs-inherit {
	font-size: inherit;
}

button:focus i.fa-solid.hvr-white,
button:hover i.fa-solid.hvr-white {
	color: white;
}

.lead-md {
	font-size: 1.3rem;
}